.newPresMain {
    margin-top: 8vh;
}
.addProject{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 0 20px;
}
.addProject label{
    font-size: 20px;
}
input {
    margin: 0 5px;
    font-size: 12px;
    width: 30vw;
}
.sectionForm input {
    width: 70vw;
    font-size: 16px;
}
.addProject form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.addProject form button{
    margin: 30px;
    font-size: 16px;
    border: 2px solid black;
}
.name {
    height: 40px;
    width: 150px;
    font-size: 18px;
}
.pointLabel {
    font-size: 14px;
}
.fullpage {
    display: flex;
    justify-content: center;
}
.fullpage h2 {
    text-align: center;
    margin-bottom: 30px;
}
.time {
    text-align: right;
}
.includeTitle {
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.includeTitle h4 {
    text-align: left;
    margin: 0;
    font-size: 18px;
}
.includeTitle a {
    text-align: center;
}
button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px 10px;
}
.section button{
    padding: 2px 5px;
}
.section {
    margin-bottom: 30px;
}
.addSection {
    align-self: start;
}