.presMain, .updatePresMain {
    margin: 0 30px;
}
h2 {
    text-align: center;
}
.presMain h3 {
    display: flex;
    justify-content: space-between;
}
.presMain .fa-edit{
    position: absolute;
    top: 11vh;
    right: 8px;
}
.sectionPlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.startButton {
    border-radius: 0px;
    height: 6vh;
    width: 45vw;
    background-color: #f50a0a;
    font-size: 16px;
}
.startTimerClass {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;

}
/* .fa-edit {
    position: relative;
} */