.presMain, .updatePresMain {
    margin: 0 30px;
}
h2 {
    text-align: center;
}
.presMain h3 {
    display: flex;
    justify-content: space-between;
}
.presMain .fa-edit{
    position: absolute;
    top: 8vh;
    right: 8px;
}
.sectionPlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.startButton {
    border-radius: 5px;
    height: 6vh;
    width: 30vw;
    /* background-color: #f50a0a; */
    font-size: 16px;
}
.startTimerClass {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;

}
@media(min-width: 768px){
    .presMain button {
        font-size: 16px;
        padding: 10px;
    }
    .presMain .startButton {
        width: 30vw;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .presMain h2 {
        font-size: 32px;
    }
    .presMain h3 {
        font-size: 24px;
    }
    .presMain p {
        margin: 60px 0;
        font-size: 24px;
    }
    .presSectionDisplay {
        margin: 40px 15px;
    }
    .sectionPlace h3 {
        font-size: 24px;
    }
    .updatePresMain p {
        font-size: 24px;
    }
}
@media(min-width: 1024px){
    
}
/* .fa-edit {
    position: relative;
} */