* {
  box-sizing: border-box;
}
body { 
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid black;
  width: 100%;
  background-color:#E2E2E2;
  height: 8vh;
  z-index: 2;
}
header a{
  text-decoration: none;
  color: black;
}
h1 {
  text-align: center;
  font-size: 28px;
}
i {
  font-size: 25px;
}
.togglebutton {
  position: absolute;
  top: 10vh;
}
.instructions {
  position: absolute;
  height: 92vh;
  width: 100vw;
  top: 8vh;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructions h3 {
  background-color: white;
  padding: 100px;
  border-radius: 10px;
  z-index: 1;
}
.main {
  margin-top : 8vh;
}
input {
  border-radius: 30px;
  padding: 0 10px;
}
button {
  border-radius: 20px;
}



